/* public/css/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seus estilos personalizados aqui, após o Tailwind */
.hero-section {
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
    z-index: 0;
}
.hero-section > * {
    position: relative;
    z-index: 1;
}

/* Estilos para o cabeçalho sticky */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 50; /* Garante que fique acima de outros elementos */
}
